# Set vendor property for SELinux permission
on property:gsm.sim.state=*
    setprop vendor.gsm.sim.state ${gsm.sim.state}
on property:ril.sw_ver=*
    setprop vendor.ril.sw_ver ${ril.sw_ver}
on property:gsm.version.baseband=*
    setprop vendor.gsm.version.baseband ${gsm.version.baseband}
